.header img{
    background-color: orange;
    padding-top: 0px;
    float: left;
    width: 100%;
    height: auto;
}

.header span {
    float: right;
    right: 60px; 
    font-size: 32px;
    text-transform: none;
    position: absolute;
}

@media (max-width: 650px) {
    .header span {
        font-size: 0px;
    }

}

.column {
    float: left;
    width: 50%;
    padding-top: 20px;
}

@media (max-width: 1075px) {
    .column {
        width: 100%;
    }
    .header img {
        padding-top: 60px;
    }
}


a.grayButton{
    padding:6px 12px 6px 30px;
    position:relative;

    background-color:#fcfcfc;
    background:-moz-linear-gradient(left top -90deg, #fff, #ccc);
    background:-webkit-linear-gradient(left top -90deg, #fff, #ccc);
    background:linear-gradient(left top -90deg, #fff, #ccc);

    -moz-box-shadow: 1px 1px 1px #333;
    -webkit-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333;

    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;

    font-size:11px;
    color:#444;
    text-shadow:1px 1px 0 #fff;
    display:inline-block;
    margin-right:0;

    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    transition:0.25s;
}

a.grayButton:hover{
    text-decoration:none !important;
    box-shadow:0 0 5px #2b99ff;
}

a.grayButton.facebook:before{
    background:url('../img/facebook_gray.png') no-repeat;
    height: 18px;
    left: 4px;
    position: absolute;
    top: 3px;
    width: 20px;
    content: '';
}

a.grayButton.mail:before{
    background:url('../img/mail.png') no-repeat;
    height: 18px;
    left: 4px;
    position: absolute;
    top: 3px;
    width: 20px;
    content: '';
}

a.option {
    padding:6px 20px 6px 20px;
    color: black;
    text-decoration: none;

}

a.option:hover{
    text-decoration:none !important;
    box-shadow:0 0 2px #2b99ff;
}

a.option:active {
    color:white;
}


