/**
.header img{
    background-color: orange;
    padding-top: 0px;
    float: left;
    width: 100%;
    height: auto;
}

.header span {
    float: right;
    right: 60px; 
    font-size: 32px;
    text-transform: none;
    position: absolute;
}

@media (max-width: 650px) {
    .header span {
        font-size: 0px;
    }

}

.column {
    float: left;
    width: 50%;
    padding-top: 20px;
}

@media (max-width: 1075px) {
    .column {
        width: 100%;
    }
    .header img {
        padding-top: 60px;
    }
}
**/

body {
    background: #FAEBD7;
}

p.title {  
  position: relative;
  margin-right: 200px;
  margin-left: 200px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}


p.title span {

  font-size: 18px;
  text-align: middle;
}

@media (max-width: 1200px) {
    p.title {
        margin: 20px;
    }
}


@media (max-width: 800px) {
    p.title {
        font-size: 24px;
    }
    p.title span {
        font-size: 16px;
    }
}



a.grayButton {
    padding:6px 12px 6px 30px;
    position: relative;

    background-color:#fcfcfc;
    background:-moz-linear-gradient(left top -90deg, #fff, #ccc);
    background:-webkit-linear-gradient(left top -90deg, #fff, #ccc);
    background:linear-gradient(left top -90deg, #fff, #ccc);

    -moz-box-shadow: 1px 1px 1px #333;
    -webkit-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333;

    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;

    font-size:11px;
    color:#444;
    text-shadow:1px 1px 0 #fff;
    display:inline-block;
    margin-right:0;

    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    transition:0.25s;
}

a.grayButton:hover{
    text-decoration:none !important;
    box-shadow:0 0 5px #2b99ff;
}

a.grayButton.facebook:before{
    background:url('../img/facebook_gray.png') no-repeat;
    height: 18px;
    left: 4px;
    position: absolute;
    top: 3px;
    width: 20px;
    content: '';
}

a.grayButton.mail:before{
    background:url('../img/mail.png') no-repeat;
    height: 18px;
    left: 4px;
    position: absolute;
    top: 3px;
    width: 20px;
    content: '';
}

a.option {
    padding:6px 20px 6px 20px;
    color: black;
    text-decoration: none;

}

a.option:hover{
    text-decoration:none !important;
    box-shadow:0 0 2px #2b99ff;
}

a.option:active {
    color:white;
}

/** SLIDESHOW CSS STYLES **/
.mySlides {
  display: none;
  background-color: #D2B48C;
}

.mySlides img {
  background-color: #D2B48C;
  vertical-align: center;
}


.mySlides h1 {
  text-align: left;
  padding-left: 50px;
}


        /* Slideshow container */
        .slideshow-container {
          max-width: 1000px;
          position: relative;
          margin: auto;
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
          color: black;
          font-size: 15px;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
          background-color: black;
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
          .prev, .next,.text {font-size: 11px}
        }


