#footer {
	background-color: #DEB887;	
	margin:0;
    padding:0;
}

.container {
	position: relative;
  	font-family: helvetica, sans-serif;
}

.footerTable {
    height: 184px;
}

.contactUsPadding{
   	padding-right: 12em;
}

.emailUsPadding{
    padding-right: 7em;
}