body {
    background: orange;
    padding: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.hamburger {
    position: fixed;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.4em;
    margin-bottom:-0.2em;
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid black;
}

.hamburger:hover {
    text-decoration:none !important;
    box-shadow:0 0 2px #2b99ff;
}

.hamburger:active {
    display: inline-block;
}

.hamburger:active.a {

}