.menu{
  background-color: #DEB887;
  text-transform: uppercase;
  font-weight: bold;
}

.header {
  display: none;
}

.burgerMenu {
  display: none;
}

.container {
  position: relative;
  max-width: 1100px;
  font-family: helvetica, sans-serif;
}
.content {
  position: relative;
  padding-top: 80px;
}
.content p {
  margin-bottom: 10px;
}
.container img{
  float: left;
}
.search-container {
  float: left;
}

.search-container input[type=text] {
  font-size: 17px;
  border: none;
  width: 50%;
  height: 30px;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 40px;
}

.container .search-container button:hover {
  background: #ccc;
}

.myButtons {
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  margin: auto 0;
  padding: 4px;
}

.myButtons:hover {
    background-color: #D2B48C; 
    text-decoration: none;
    color:black;
    font-family: arial;
  }
.myActiveButton {
  background-color: #D2B48C;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  margin: auto 0;
  padding: 4px;
  font-family: arial;
}
.myActiveButton:hover {
  background-color: #D2B48C; 
  text-decoration: none;
  color:black;
}
.loginButton{
  background-color: #D2B48C;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: black;    
  border: none;
  cursor: pointer;
  margin: auto 0;
  padding: 15px 25px;
}
.loginButton:hover{
   opacity: 0.8;
}



@media (max-width: 990px) {
  
  .menu { 
    display: none;
  }

  .menubar {
    display: none;
  }

  .search-container {
    display: none;
  }

  .header {
    display: block;
  }

  .header img{
    background-color: #DEB887;
    padding-top: 0px;
    width: 100%;
    height: auto;
}

  .header span {
    font-size: 28px;
    background-color: #DEB887; 
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: none;
    position: fixed;
  }

  @media (max-width: 650px) {
    .header span {
        font-size: 21px;
    }

  }

  a.option {
    float: right;
    padding:3px 10px 3px 10px;
    color: black;
    text-decoration: none;
  }

  a.option:hover{
    text-decoration:none !important;
    box-shadow:0 0 2px #2b99ff;
  }

  a.option:active {
    color:white;
  }

  a.hamburger { 
    font-size: 21px;
    margin: 10px;
    position: fixed;
    width: 1.25em;
    height: 0.9em;
    margin-right: 0.4em;
    margin-bottom:-0.2em;
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
  }

  a.hamburger:before {
    font-size: 21px;
    font-weight: 600;
    content: "";
    position: absolute;
    top: 0.155em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid black;
  }

  a.hamburger:hover {
    text-decoration:none !important;
    box-shadow:0 0 2px #2b99ff;
  }

  a.hamburger:active {
    
  }

  
  
}