body {
  background: white;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 94%;
  max-width: 1100px;
  font-family: helvetica, sans-serif;
}
.content {
  position: relative;
  padding-top: 80px;
}
.content p {
  margin-bottom: 10px;
}
.container img{
  float: left;
}
.search-container {
  float: left;
}

.search-container input[type=text] {
  font-size: 17px;
  border: none;
  width: 50%;
  height: 30px;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 40px;
}

.container .search-container button:hover {
  background: #ccc;
}
#header {
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0px;
  height: 120px;
  line-height: 60px;
  background: #D9BB91;
  color: white;
}

#footer {
  background: #D9BB91;
  color: white;
}

#nav {
  position: absolute;
  right: 0;
  top: -15px;
  height: 60px;
}
#nav ul li {
  float: left;
  list-style: none;
}
#nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 10px;
}
.menu{
  background: #D9BB91;
}
.myButtons {
  color:white;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  margin: auto 0;
  padding: 4px;
}
.no-padding {
  padding: 0 !important;
}
.myButtons:hover {
    background-color: #ab7c3b; 
    text-decoration: none;
    color:white;
    font-family: arial;
  }
.myActiveButton {
  background-color: #ab7c3b;
  color:white;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  margin: auto 0;
  padding: 4px;
  font-family: arial;
}
.myActiveButton:hover {
    background-color: #ab7c3b; 
    text-decoration: none;
    color:white;
}
.loginButton{
  background-color: #A48963;
    color: white;    
    border: none;
    cursor: pointer;
    margin: auto 0;
    padding: 15px 25px;
}
.loginButton:hover{
   opacity: 0.8;
}