body {
  background: white;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 94%;
  max-width: 1100px;
  font-family: helvetica, sans-serif;
}
.content {
  position: relative;
  padding-top: 80px;
}
.content p {
  margin-bottom: 10px;
}
.container img{
  float: left;
}
.search-container {
  float: left;
}

.container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.container .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 14px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 70px;
}

.container .search-container button:hover {
  background: #ccc;
}

#header {
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
  height: 120px;
  line-height: 60px;
  background: #D9BB91;
  color: white;
}

#nav {
  position: absolute;
  right: 0;
  top: -15px;
  height: 60px;
}
#nav ul li {
  float: left;
  list-style: none;
}
#nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.fcontainer {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  font-family: helvetica, sans-serif;
  background: #D9BB91;
  color: white;
  line-height: 16px;
}

.fcontainer img{
  padding: 0 100px;
}

