body {
	background: #FFDEAD;
}

.title {
	position: relative;
	text-align: center;
	padding-top: 2%;
	font-size: 32px;
	font-weight: bold;
	margin-right: 25%;
	margin-left: 25%;
}
#titleName {
	font-size: 21px;
	text-align: center;
}
.columns {
	display: flex;
	position: relative;
	border-radius: 25px;
	background-color: #FAEBD7;
	font-size: 26px;
	text-transform: none;	
	width: 100%;
	padding-top: 2%;
}

.column1{
	position: relative;
	text-align: center;
	width: 50%;
}

.column2{
	position: relative;
	text-align: left;
	width:50%;
	
}



#password  {
	font-size: 18px; 
	padding: 1%; 
	border: none;
	background: none;
}

#password:hover  {
	text-decoration:underline;
}

#button  {
	font-size: 18px; 
	padding: 1%; 
	border: none;
	background: none;
}

#button:hover  {
	text-decoration:underline;
}

#ChangePass {
	font-size: 18px;
	text-transform: none;
	padding:0.5%;
}

#subChange {
	font-size: 18px;
	text-transform: none;
	margin-top: 2%;
}

#subCancel {
	font-size: 18px;
	text-transform: none;
	margin-left: 1%;
}

.circle_img{
	border-radius: 50%;
	padding: 5%;
}

li{
	list-style-type: none;
}





