<!DOCTYPE HTML>
<html ng-app="myApp" ng-controller="myCtrl">
  <head>
    <title>Ask It! Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../css/headerFooter.css">
    <link rel="stylesheet" type="text/css" href="../../../css/button.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="../../../js/homepage.js"></script>
</head>
  <body>
    <header id="header">
      <div class="container">
        <a href="header.html">
		      <img src="../../../img/logo.png" alt="" width="240" height="75" />
 		    </a>
		<div class="search-container">
			<form action="/action_page.php">
			<input type="text" placeholder="Search.." name="search">
			<button type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>
        <nav id="nav">
          <ul>
            <li>
              <a href="homepage.html">Home</a>
            </li>
            <li>
              <a href="myquestions.html">My Questions</a>
            </li>
            <li>
              <a href="favorites.html">Favorites</a>
            </li>
            <li>
              <a href="about.html">about</a>
            </li>
            <li>
              <button onclick="location.href='../login_register/loginregister.html';"/>Login / Sign Up</button>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- This is angularJs for sprint2
	<form>
		<div class="row" ng-repeat="question in questions">
			<div class="col-md-1 userBox">
			<img class="col-md-10" src="../../../img/avatar2.png" alt="" width="80" height="80" />
			<span class="col-md-3">
			<label >{{question.userName}}</label>
			</span>
			</div>
			<div class="col-md-8 questionBox">
			<h3>{{question.title}}</h3>
			<p>{{question.question}}</p>
			</div>
		</div>      
	</form>-->
    <p style="text-align: center;"><img src="../../../img/fill.png" alt="" width="1100" height="600" /></p>

    <header id="footer">
      <div class="container">
        <a href="footer.html">
         <img src="../../../img/logo.png" alt="" width="240" height="130" />
        </a>
        <table style="height: 184px;style="width:100%">
        <tr>
          <th>Conctact us</th>
          <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th> 
          <th>Follow us</th>
        </tr>
        <tr>
          <td>Email us: <a href="mailto:contact@asktit.com">contact@asktit.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
          <td>For any inquiries, please email us<br> <a href="mailto:help@askit.com">help@askit.com</a></td>
          <td><img src="../../../img/facebook.png" alt="" width="20" height="20" /></td>
        </tr>
        <tr>
          <td>Phone CA: (514) xxx-xxxx&nbsp;</td>
          <td>   </td>
          <td><img src="../../../img/instagram.png" alt="" width="20" height="20" /></td>
        </tr>
        <tr>
          <td>   </td>
          <td>   </td>
          <td><img src="../../../img/twitter.png" alt="" width="20" height="20" /></td>
        </tr>
        </table>
      </div>
    </header>
  </body>
</html>  
    

