<!DOCTYPE HTML>
<html>
  <head>
    <title>Ask It! My Questions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../css/homepage.css">
    <link rel="stylesheet" type="text/css" href="../../../css/button.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
    <header id="header">
      <div class="container">
        <a href="header.html">
		      <img src="../../../img/logo.png" alt="" width="240" height="120" />
 		    </a>
		<div class="search-container">
			<form action="/action_page.php">
			<input type="text" placeholder="Search.." name="search">
			<button type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>
        <nav id="nav">
          <ul>
            <li>
              <a href="homepage.html">Home</a>
            </li>
            <li>
              <a href="myquestions.html">My Questions</a>
            </li>
            <li>
              <a href="favorites.html">Favorites</a>
            </li>
            <li>
              <a href="about.html">about</a>
            </li>
            <li>
              <a><button onclick="location.href='../login_register/loginregister.html';"/>Login / Sign Up</button></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </body>
</html>  