<!DOCTYPE HTML>
<html ng-app="myApp" ng-controller="myCtrl">
  <head>
    <title>My Questions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../css/headerFooter.css">
    <link rel="stylesheet" type="text/css" href="../../../css/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
    <header id="header">
      <div class="container">
        <a href="header.html">
          <img src="../../../img/logo.png" alt="" width="240" height="120" />
        </a>
    <div class="search-container">
      <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
        <nav id="nav">
          <ul>
            <li>
              <a href="homepage.html">Home</a>
            </li>
            <li>
              <a href="myquestions.html">My Questions</a>
            </li>
            <li>
              <a href="favorites.html">Favorites</a>
            </li>
            <li>
              <a href="about.html">about</a>
            </li>
            <li>
              <button onclick="location.href='../login_register/loginregister.html';"/>Login / Sign Up</button>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p style="text-align: center;"><img src="../../../img/fill.png" alt="" width="1100" height="600" /></p>

    <header id="footer">
      <div class="container">
        <a href="footer.html">
         <img src="../../../img/logo.png" alt="" width="240" height="90" />
        </a>
        <table style="height: 184px;" width="756">
<tbody>
<tr>
<td style="width: 225.90625px;">Contact</td>
<td style="width: 205.671875px;">&nbsp;</td>
<td style="width: 148.234375px;">&nbsp;</td>
<td style="width: 148.234375px;">Follow us</td>
</tr>
<tr>
<td style="width: 225.90625px;">
<p>&nbsp;</p>
<p>Email us: <a href="mailto:contact@asktit.com">contact@asktit.com</a></p>
<p>Phone CA: (514) xxx-xxxx&nbsp;</p>
</td>
<td style="width: 205.671875px;">
<p>&nbsp;</p>
<p>For any inquiries, please emial us <a href="mailto:help@askit.com">help@askit.com</a></p>
</td>
<td style="width: 148.234375px;">&nbsp;</td>
<td style="width: 148.234375px;">
<p><img src="../../../img/facebook.png" alt="" width="30" height="30" />&nbsp;Facebook</p>
<p><img src="../../../img/instagram.png" alt="" width="30" height="30" /></p>
<p><img src="../../../img/twitter.png" alt="" width="30" height="30" /></p>
</td>
</tr>
</tbody>
</table>
      </div>
    </header>
  </body>
</html>  
    

